@import "tailwindcss";

@theme inline {
  --color-rouge:  #E8001C;
  --color-jaune:  #FFB800;
  --color-vert:   #00A550;
  --color-noir:   #1A1A1A;

  --font-sans: var(--font-poppins);
}

body {
  background: #ffffff;
  color: #1A1A1A;
}
